*{
margin:0;
padding:0;
border: none;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}


/* nav section start  */

header{
    height: 100vh;
    
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 30px 140px;
}

.nav-content{
    font-size: 1.05rem;
    
}

.nav-content ul{
    display: flex;
    align-items: center;
   
}

ul, li, .nav-btn{
    margin-left: 30px;
}

.nav-icon{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;

}
.nav-icon span{
    color: #FF42A5;
}

.nav-btn{
    font-size: 1rem;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(191, 202, 211);
}

.nav-btn:hover{
    background-color: rgb(255, 120, 248);
}

/* nav section end  */




/* banner section start  */


.banner-contianer{
display: flex;
padding: 20px 140px;


}
.banner{
    width: 901px;
    height:700px;
    background-image: url(./Group14.png); 

}

.banner .banner-content{
   margin-bottom: 100px;
}


.banner-content{
 width: 50vh;

}

.banner-title{
    font-size: 3rem;
    font-weight: 600;
}

.banner-logo{
    font-size:3rem;
    
}

 .banner-content h1{
    font-size:3rem;
    background-image: linear-gradient( to bottom,  #8758F1, rgb(255, 0, 221));
    color: transparent;
    -webkit-background-clip:text;
    

 }

.banner-content i{
     padding-bottom: 10px;
}

.banner-btn-1{

    font-size: 1rem;
    padding: 10px 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FF42A5;
    align-items: flex-start;
    color: white;

}

.banner-btn-2{

    font-size: 1rem;
    padding: 10px 8px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4d94ff;
    color: white;
}


.bannner-img{
    margin-left: 10%;
}

/* banner section end  */

 /* Online Games Funny Videos */


 .online-games-title{

text-align: center;
margin-bottom: 30px;

 }

 .online-games-title h1{
    font-size: 2.5rem;
    font-weight: 3rem;
 }
 .online-games-title span{
    background-image: linear-gradient( to bottom,  #55f025, rgb(241, 238, 23));
    color: transparent;
    -webkit-background-clip:text;
    
 }

 .online-games-title{
    font-size: 1rem;
    font-weight: 400;
    
 }

 .online-games-title p{
    font-weight:4rem;
    padding: 10px 0;
 }



 .card-container{
    display: flex;
    justify-content:center;
    gap: 20px;
    border-radius: 6px;
 }

  .card-3:hover{
    cursor: pointer;
    color: #1000f3;
   

 } 

 /* Online Games section end */


/*  Play Instantly section start  */


.Play-Instantly-contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 50px auto;
    
}
 
.Play-Instantly-img img{
    border-radius: 8px;
}

.Play-Instantly-img{
    position: relative;

} 

.Play-Instantly-item{
 text-align: center;
}

.Play-Instantly-item h1{
    font-size: 3rem;
}


.Play-Instantly-item h1 span{
    color: #FF42A5;
}

.Play-Instantly-item p{
    font-weight: 700px;
    color: rgb(51, 37, 37);
    
}



.Play-Instantly-img-2 img{ 
 position: absolute;
 left: -130px;
 top:70%;
width: 40%;
height:40%;
 
}


/* Play Instantly section end */


/*gaming-features-btn   */

.gaming-features-btn{
 display: grid;
 grid-template-columns: repeat(5,1fr);
 gap: 30px;
margin: 120px 30%;

}

.gaming-features-btn button{
border-radius: 50px;
font-weight: 600px;
cursor: pointer;
background-color: #ffffff;

}


.gaming-features-btn button:hover{
    
    border: 1px solid ;
    color: red;
}
    
.gaming-features-btn img{
    width: 20%;

}



/*gaming-features-btn end*/



/* footer section  */


.footer-container{
    height: 100vh;
    background-color: #0B0223;
    

}

.footer-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    gap: 10px;


}
.footer-logo span{

    color: #FF42A5;

}


.footer-list li a{
    color: rgb(255, 255, 255);
   
}

.footer-list{
    text-align: center;
    margin-top:2.5rem;
    
}
.footer-list ul{
    display: flex;
    justify-content: center;
}



.footer-icon ul{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top:2.5rem;
}


.footer-li-item ul{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    margin-top:3rem;
    
}

.footer-li-item ul li a{
color: #ffffff;

}

.footer h3{
    color: #f8f8f8;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    margin-top:3rem;

}


/* footer end  */